<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063883600297-gnpo5ldof624751c73hgg6ati3f2qb7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063883600297-gnpo5ldof624751c73hgg6ati3f2qb7i</string>
	<key>API_KEY</key>
	<string>AIzaSyD84t1xdM0X8VVQ9X0zxXi1kcBQew-ZcdM</string>
	<key>GCM_SENDER_ID</key>
	<string>1063883600297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-bb6a0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-bb6a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063883600297:ios:d3004a15cb7f77b56d94b8</string>
</dict>
</plist>